<nav>
    <div>
        <a href = "/"> <h1>WEB NOTES</h1> </a>
        <p> Online Sticky Notes </p>
    </div>
    <ul>
        <li> <a href = "/"> Notes </li>
        <li> <a href = "/notes/create"> Add New Note </a></li>
    </ul>
</nav>